@using SevenVorot.Models
@model Product

<form asp-controller="WorkwithDB" asp-action="AddProduct" method="post" class="middle-header-search form" name="smart_serach">

    
    <input asp-for="Name" type="text" name="Name" class="middle-header-search__input" placeholder="имя товара">
    <input asp-for="Article" type="text" name="Article"  class="middle-header-search__input" placeholder="артикул товара">
    <input asp-for="Partition" type="text" name="Partition" class="middle-header-search__input" placeholder="раздел товара">
    <input asp-for="SecondPartition" type="text" name="SecondPartition"  class="middle-header-search__input" placeholder="2 раздел товара">
    <input asp-for="ThridPartition" type="text" name="ThridPartition"  class="middle-header-search__input" placeholder="3 раздел товара">
    <input asp-for="Price" type="text" name="Price" class="middle-header-search__input" placeholder="цена товара в рублях">
    <input asp-for="ImageName" type="text" name="ImageName"  class="middle-header-search__input" placeholder="имя файла изображения">
    
        <button type="submit" class="middle-header-search__btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: auto; display: block;">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 11.5C5.5 8.18629 8.18629 5.5 11.5 5.5C14.8137 5.5 17.5 8.18629 17.5 11.5C17.5 14.8137 14.8137 17.5 11.5 17.5C8.18629 17.5 5.5 14.8137 5.5 11.5ZM11.5 4C7.35786 4 4 7.35786 4 11.5C4 15.6421 7.35786 19 11.5 19C13.301 19 14.9536 18.3652 16.2465 17.3072L20.7197 21.7803C21.0126 22.0732 21.4874 22.0732 21.7803 21.7803C22.0732 21.4874 22.0732 21.0126 21.7803 20.7197L17.3072 16.2465C18.3652 14.9536 19 13.301 19 11.5C19 7.35786 15.6421 4 11.5 4Z" fill="#141415" />
        </svg>
    </button>
    <div class="middle-header-search__result"></div>
</form>
